@import url('https://fonts.googleapis.com/css?family=Norican&display=swap');
/* ul, ol { } */
.page-header { 
    background-image: url("./home.JPG") ; 
    position: relative; 
    background-size: cover; }
.page-caption { padding-top: 160px; padding-bottom: 174px; }
.page-title { font-size: 69px; line-height: 1; color:#4a73d4; font-weight: 600; text-align: center; font-family: 'Norican', cursive; text-shadow: grey 1px 5px 5px; }
.card-section { position: relative; bottom: 60px;
 }
.card-block { padding: 80px; box-shadow: 1px 1px 20px 1px darkgrey ;
    }
.p1{
    color: grey; font-family: 'Delius', cursive;
}
/* .section-title h4 ,h3{ margin-bottom: 60px; font-family: 'Great Vibes', cursive; } */
 