body {
    /* background-image: url("https://photos.smugmug.com/Blog/Creative-commons/i-MDSZRhP/0/O/orlando-florida-2016-epcot-spaceship-earth.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-attachment: fixed; */
    /* background-color: rgb(173, 216, 230); */
    width: 100%;
    height: 100%;
    position: sticky !important;

    }
    .App{
        display: flexbox;
    }
    .form{
        border-radius: 10px;
        background-color: rgba(241, 241, 241, 0.815);
        margin: 2% 15%;
        padding: 10px;
        text-align: center;
    }
    .mar{
        text-align: left;
    }